<div class="format-add-section">
    <div class="container-add-news">
        <span class="big-circle"></span>
        <span class="small-cicle"></span>
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Modify a new</h3>
                <p class="text">
                    Please modify the new in the form of the right.
                    <img src="/images/RE-contact.png" alt="" class="re-image-add">
                </p>

            </div>

            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form class="general-form" action="/admin/news/modify" autocomplete="off" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" value="{{news.id}}" name="id" />
                    <div class="containerTest">
                        <h3 class="title">Modify new form</h3>
                        <div class="addimageformat">
                            <p>
                                <label>Image: <input type="file" name="image" id="image" /></label>
                            </p>
                            <p>
                                <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                                    Delete current image?</label>
                                <input type="hidden" name="img_original" value="{{news.img_id}}">
                            </p>
                        </div>
                        <div class="input-container">
                            <input type="text" name="title" value="{{news.title}}" class="input" />

                        </div>

                        <div class="input-container textarea">
                            <textarea name="description" class="input">{{news.description}}</textarea>

                        </div>
                        <input type="submit" value="Modify" class="btn" />
                    </div>
                </form>
                {{#if error}}
                <p class="message-error-add">{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>